body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background:#ffffff;
	padding: 0;
	margin: 0;
}

div{
	display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*header*/
.header{
	height: 75px;
	background-color: #00204A;
}

.header img{
	position: absolute;
	left: 50px;
	top: 10px;
}

/*slide*/
.slide{
	background-image: url(../img/slide.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-color: #00204A;
	background-position: center;
}

/*searchbar*/
.search_bar{
	height: 80px;
	width: 600px;
	background-color: #00204A;
	border-radius: 5px;
	position: absolute;
	left: 30%;
	top: 400px;
}

.search_button{
	background-color: #FFA500;
	/*color: white;*/
	display: inline-block;
	cursor: pointer;
	height: 50px;
	width: 150px;
	border-style: none;
	float: right;
	margin: 15px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.search_form{
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	height: 50px;
	width: 380px;
	text-align: center;
	border-style: none;
	float: left;
	font-size: 15px;
	margin: 15px;
}

/*menu bar*/
.menu{
	width: 400px;
	float: right;
}

.menu ul{
	list-style-type: none;
    /*margin: 0;*/
    /*padding: 10px;*/
    /*padding-top: 30px;*/
    /*overflow: hidden;*/
    /*position: fixed;
    /*top: 0;
    width: 100%;*/
}

.menu li{
	float: right;

}

.menu li a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
	background-color: #FFA500;
	color: black;
}

.dropbtn {
    background-color: #00204A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00204A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFA500}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFA500;
    color: black;
}

/*footer*/
.footer{
	height: 50px;
	background-color: #00204A;
	padding: 20px;
	padding-top: 35px;
}

.footer p{
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.footer p a{
	text-decoration: none;
	color:  #FFA500;
}

/*Body*/
.main_body{
	height: auto;
	background-color: white;
}

.dept_main{
	margin: 50px 100px;
	background-color:#fbf7f7;
	height: auto;
	padding: 10px;

}

#dept_title h1{
	font-weight: normal;
	text-align: center;
	padding: 15px;
	padding-top: 60px;
	font-size: 25px;
}

.dept_btn{
	background-color: #FFA500;
	/*color: white;*/
	display: inline-block;
	cursor: pointer;
	height: 70px;
	width: 50%;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	opacity: 0.7;
	font-size: 30px;
	margin-top: 40px;	
}

/*finance dep*/
.dept1{
	background-image: url(../img/finance.jpg);
	/*background-color: pink;*/
	background-repeat: no-repeat;
	/*opacity: 0.5;*/
	height: 150px;
	width: 60%;
	background-color: #00204A;
	/*margin: 0 20%;*/
	margin-left: 20%;
	margin-bottom: 3%;
	text-align: center;
}

.dept1 a{
	text-decoration: none;
	color: black;
}

/*hrdept*/
.dept2{
	background-image: url(../img/HR.jpg);
	/*background-color: pink;*/
	background-repeat: no-repeat;
	/*opacity: 0.5;*/
	height: 150px;
	width: 60%;
	background-color: #00204A;
	/*margin: 0 20%;*/
	margin-left: 20%;
	margin-bottom: 3%;
	text-align: center;
}

.dept2 a{
	text-decoration: none;
	color: black;
}

/*marketing*/
.dept3{
	background-image: url(../img/Marketing.jpg);
	/*background-color: pink;*/
	background-repeat: no-repeat;
	/*opacity: 0.5;*/
	height: 150px;
	width: 60%;
	background-color: #00204A;
	/*margin: 0 20%;*/
	margin-left: 20%;
	margin-bottom: 3%;
	text-align: center;
}
.dept3 a{
	text-decoration: none;
	color: black;
}

/*IT*/
.dept4{
	background-image: url(..img/IT.jpg);
	/*background-color: pink;*/
	background-repeat: no-repeat;
	/*opacity: 0.5;*/
	height: 150px;
	width: 60%;
	background-color: #00204A;
	/*margin: 0 20%;*/
	margin-left: 20%;
	margin-bottom: 3%;
	text-align: center;
}

.dept4 a{
	text-decoration: none;
	color: black;
}
/*Production*/
.dept5{
	background-image: url(../img/Production.jpg);
	/*background-color: pink;*/
	background-repeat: no-repeat;
	/*opacity: 0.5;*/
	height: 150px;
	width: 60%;
	background-color: #00204A;
	/*margin: 0 20%;*/
	margin-left: 20%;
	margin-bottom: 3%;
	text-align: center;
}

.dept5 a{
	text-decoration: none;
	color: black;
}







/*login*/
.form{
	background-color: #fbf7f7;
	width: 25%;
	margin-left: 35%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 4%;
	box-shadow: 0px 4px 10px 4px #00204A;
}

.form h1{
	color: #00204A;
	text-align: center;
	font-weight: normal;
}

.form input[type=text], input[type=password] {
    width: 93%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form input[type=submit]{
    background-color: #FFA500;
    /*color: white;*/
    display: inline-block;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 18px;

}

/*admin login*/
.admin_login{
	/*height: 50%;*/
	width: 25%;
	/*background-color: #fbf7f7;*/
	margin-left: 37%;
	margin-top: 10%;
	/*margin-bottom: 50px;*/
	box-shadow: 0px 4px 10px 4px white;
}

.admin_login_heading{
	padding: 2px;
	text-align: center;
	background-color: #00204A;
	color: white;
}

.admin_login_form{
	background-color: #fbf7f7;
	padding: 10%;

}

.admin_login input[type=text], .admin_login input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.admin_login input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.admin_login button {
    background-color: #FFA500;
    /*color: white;*/
    display: inline-block;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 18px;

}




/*view jobs*/
.view_jobs{
	padding: 5%;
	padding-top: 20px;
}

.view_jobs h1{
	text-align: center;
	font-size: 30px;
	font-weight: normal;
}

.job {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.job  td, .job  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.job  tr:nth-child(even){background-color: #f2f2f2;}

.job tr:hover {background-color: #ddd;}

.job  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FFA500;
    color: white;
}

.dept_heading{
	height: 100px;
	background-color: #00204A	;
	margin-top: 3%;
}

.view_btn{
	background-color: #FFA500;
	/*color: white;*/
	display: inline-block;
	cursor: pointer;
	height: 30px;
	width: 65px;
	border-style: none;
	margin: 13px;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
}

.view_job{
	padding: 20px;
	border-style: groove;
	margin: 30px 15%;
	/*justify-content: initial;*/
}

.view_job h2{
	color: #00204A;
	text-align: center;
}

.view_job button{
	background-color: #FFA500;
	/*color: white;*/
	display: inline-block;
	cursor: pointer;
	height: 50px;
	width: 200px;
	border-style: none;
	margin: 15px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}
.view_job button a{
	text-decoration: none;
	color: black;
}

/*application form*/

.app_heading{
	height: 100px;
	background-color: #fbf7f7	;
	margin-top: 3%;
}

.app_form{
	height: auto;
	padding: 30px 20px 30px 80px;
	border-style: groove;
	margin: 30px 150px;
}

.app_form input[type=text], input[type=password], input[type=date], input[type=email] {
    width: 93%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.app_form input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.app_form input[type=submit]{
    background-color: #FFA500;
    /*color: white;*/
    display: inline-block;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    font-size: 18px;
}

.app_form input[type=button], input[type=file] {
	 /*background-color: #FFA500;*/
    /*color: white;*/
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    font-size: 15px;
}

.app_form input[type=file] {
    display: inline-block;
    cursor: pointer;
    width: 30%;
}


/*view my applications*/
.my_app_heading{
	height: 100px;
	background-color: #fbf7f7;
	margin-top: 3%;
}


/*client dashboard*/
.client_hd{
	width: 100%;
	background-color: #00204A;
	color: #FFA500;
	text-align: center; 
	padding: 0px; 
	font-size: 20px; 
	/*padding-top: 10px; */
	padding-bottom: 10px;
}

/*view dept applications*/
.dept_app{
	height: 100px;
	background-color: #00204A;
	/*margin-top: 3%;*/
	/*text-align: center;*/
	margin: 30px 50px;
	height: auto;
}

.dept_app_heading{
	color: white;
	padding-top: 10px;
	padding-left: 50px;
}

.view_job_tbl{
	padding: 50px;
	background-color: #fbf7f7;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*view dept applications*/
.dept_jobs{
	background-color: #d1cccc;
	margin: 30px 50px;
	height: auto;
}

.dept_jobs_heading{
	/*height: 100px;*/
	color: #00204A;
	padding-top: 10px;
	padding-left: 50px;
}

.view_app_tbl{
	padding: 10px 50px;
	padding-bottom: 40px;
	background-color: #fbf7f7;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*detailed application form*/
.detailed_app{
	margin: 30px 50px;
	padding: 20px;
	border: groove;
}

.detailed_app_heading{
	background-color: #d1cccc;
	padding: 10px;
	padding-left: 50px;
}

.detailed_app_content{
	background-color: #fbf7f7;
	margin-top: 30px;
	padding: 40px;
}

.detailed_app_content li {
	padding: 7px;
}

.detailed_app_content ol.a{
	list-style-type: lower-alpha;
}

.app_tbl{
 padding: 10px;
}

.app_tbl  td, .job  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.app_tbl tr:nth-child(even){background-color: #f2f2f2;}

.app_tbl th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #d1cccc;
    color: black;
}

.dep_app_content input[type=text], input[type=password], input[type=date], input[type=email] {
    width: 93%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.dep_app_content input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.dep_app_content input[type=submit]{
    background-color: #FFA500;
    /*color: white;*/
    display: inline-block;
    border-radius: 5px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    font-size: 18px;
}

.dep_app_content input[type=button], input[type=file] {
	 /*background-color: #FFA500;*/
    /*color: white;*/
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 8%;
    opacity: 0.9;
    font-size: 15px;
}

.dep_app_content input[type=file] {
    display: inline-block;
    cursor: pointer;
    width: 30%;
}

.dep_app_content{
	padding: 50px 100px 50px 150px;
	background-color: #fbf7f7;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*admin dashboard*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    width: 250px;
}

.button_chg {
    background-color: white; 
    color: black; 
    border: 2px solid #FFA500;
}

.button_chg:hover {
    background-color: #FFA500;
    color: white;
}

.admin_dash{
	padding: 50px;
	padding-left: 42%;
	height: 450px;
}

.admin_dash button a{
	text-decoration: none;
	color: black;
}

/*delete client*/
.delete_client{
	/*padding: 30px;*/
	height: auto;
	background-color: #fbf7f7;
	margin: 30px 50px;

}

.delete_client  td, .job  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.delete_client th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FFA500;
    color: white;
}

.deletebtn{
	background-color: #f44336;
	display: inline-block;
	cursor: pointer;
	height: 40px;
	width: 80%;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
}

.delete_client_heading{
	/*height: 100px;*/
	background-color: #00204A;	
	color: white ;
	padding: 10px;
	padding-left: 50px;
}
.delete_client_content{
	padding: 50px 200px;
	background-color: #fbf7f7;
}

.delete_client_content table tr td button{
	width: 50%;
}

/*view orduser*/
.ord_users{
	background-color: #fbf7f7;
	padding: 50px 200px;
}